<template>
  <div class="col-3">
    <font-awesome-icon ref="icon" :icon="'fa-solid fa-' + icon" class="fa-beat-fade" />
    <h4>{{ name }}</h4>

    <p v-if="description != null">
      {{ description }}
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'SkillTile',
  props: {
    icon: {
      type: String,
      required: false
    },
    name: {
      type: String,
      required: false
    },
    description: {
      type: String,
      default: null
    }
  }
})
</script>

<style lang="scss" scoped>
svg {
  height: 30px;
}

.fa-beat-fade {
  --fa-beat-fade-opacity: 1;
  --fa-beat-fade-scale: 0.9;
}
</style>
