<template>
  <div id="aboutme">
    <div class="row">
      <LocaleSwitcher></LocaleSwitcher>
    </div>

    <div class="row">
      <h3 class="title">{{ $t('aboutme.title') }}</h3>
    </div>

    <div class="content row">
      <div class="col-12 col-md-6">
        <NumericIcon icon="fa-diagram-project" :text="$t('aboutme.projects')" :value="35"></NumericIcon>
        <NumericIcon icon="fa-users" :text="$t('aboutme.clients')" :value="8"></NumericIcon>
      </div>
      <p class="text col-12 col-md-6 p-0 p-md-4">{{ $t('aboutme.text') }}</p>
    </div>

    <div class="row justify-content-center">
      <a target="#resume-title" class="learn-more">
        <button class="btn btn-outline-light m-auto">
          {{ $t('aboutme.more') }}
        </button>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import LocaleSwitcher from "@/components/resume/LocaleSwitcher.vue";
import NumericIcon from "@/components/resume/NumericIcon.vue";

export default defineComponent({
  name: "AboutMe",
  components: {NumericIcon, LocaleSwitcher},
})
</script>

<style lang="scss" scoped>
@import "@/assets/colors.scss";
@import "~bootstrap/scss/bootstrap";

#aboutme {
  background-color: $dark-bg;
  color: $light-font;

  .title {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
  }

  .learn-more {
    width: 200px;
  }

  .content {
    display: flex;
    padding: 20px;

    > *:nth-child(1) {
      text-align: right;
    }

    .text {
      text-align: justify;
    }

    @include media-breakpoint-up(md) {
      > *:nth-child(2) {
        border-left: 2px $light-font solid;
      }
    }
  }
}
</style>