<template>
  <div class="locale-switcher">
    <select v-model="$i18n.locale" class="form-select">
      <option v-for="(locale, i) in locales" :key="`Lang${i}`" :value="locale.code">
        {{ locale.flag }} {{ locale.text }}
      </option>
    </select>

    <p>{{ $t('header.locales') }}</p>
  </div>
</template>

<script lang="ts">
import {defineComponent, inject} from "vue";
import type {VueCookies} from "vue-cookies";
import type {Locale} from "@intlify/core-base";

export default defineComponent({
  name: "LocaleSwitcher",
  setup() {
    const cookies = inject<VueCookies>('$cookies');

    return {cookies};
  },
  data() {
    return {
      locales: [
        {code: "fr", text: "Français", flag: "🇫🇷"},
        {code: "en", text: "English", flag: "🇬🇧"},
      ],
    };
  },
  mounted() {
    if (this.$cookies.isKey('lang')) {
      const cookieLocale = this.$cookies.get('lang');

      if (this.locales.some(value => value.code == cookieLocale))
        this.$i18n.locale = cookieLocale;
      else
        this.$i18n.locale = 'fr';
    }
  },
  computed: {
    locale(): Locale {
      return this.$i18n.locale;
    }
  },
  watch: {
    locale(value) {
      this.$cookies.set('lang', value);
    },
  }
})
</script>

<style lang="scss" scoped>
@import "@/assets/colors.scss";

.locale-switcher {
  display: flex;
  align-items: center;

  p {
    color: $light-font;
    font-size: 20px;

    margin: 0 0 0 10px;
  }

  select {
    width: 150px;
  }
}
</style>