<template>
  <div>
    <div class="value">
      <p>{{ currentValue }}</p>
      <font-awesome-icon :icon="'fa-solid ' + icon"/>
    </div>
    <p>{{ text }}</p>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  name: "NumericIcon",
  props: {
    value: {
      type: Number,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      currentValue: 0
    }
  },
  mounted() {
    this.increaseValue();
  },
  methods: {
    async increaseValue() {
      if (this.currentValue >= this.value) return;
      this.currentValue++;

      setInterval(() => this.increaseValue(), 3000 / this.value);
    }
  }
})
</script>

<style lang="scss" scoped>
@import "@/assets/colors.scss";

.value {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
  font-size: 2rem;

  p {
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: bold;
  }

  svg {
    color: $dark-font;
  }
}
</style>