<template>
  <header>
    <div class="row">
      <section class="col-12 col-md-6">
        <h2>{{ $t('header.subtitle') }}</h2>
        <h1 class="font-monospace">Timothé MEDICO</h1>
      </section>

      <section class="col-12 col-md-6">
        <h4>{{ $t('header.description') }}</h4>

        <SocialIcon icon="fa-linkedin" link="https://www.linkedin.com/in/timoth%C3%A9-medico/" color="#0a66c2"/>
        <SocialIcon icon="fa-twitter" link="https://twitter.com/Baragouin_" color="#1d9bf0"/>
        <SocialIcon icon="fa-discord" link="https://discordapp.com/users/182167724921847809" color="#535fee"/>
        <SocialIcon icon="fa-github" link="https://github.com/Baragouin" color="#000000"/>
        <SocialIcon icon="fa-gitlab" link="https://gitlab.com/Baragouin" color="#e5543c"/>
      </section>
    </div>
  </header>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import SocialIcon from "@/components/resume/SocialIcon.vue";

export default defineComponent({
  name: "ResumeHeader",
  components: {SocialIcon}
})
</script>

<style lang="scss" scoped>
@import "@/assets/colors.scss";
@import "~bootstrap/scss/bootstrap";

header {
  background-color: $light-bg;

  section {
    h1 {
      color: $light-font;
    }

    h2, h4 {
      color: $dark-font;
    }
  }

  section:nth-child(2) {
    padding: 10px;
  }

  @include media-breakpoint-up(md) {
    section:nth-child(2) {
      border-left: 2px solid $dark-font;
    }
  }

}
</style>