<template>
  <div class="resume">
    <h3 id="resume-title" class="text-center">
      {{ $t('resume.title') }}
    </h3>

    <div class="row mt-5 text-center text-light">
      <SkillTile
        :icon="skill.icon"
        :name="$t('resume.skills.' + skill.key + '.name')"
        :description="$t('resume.skills.' + skill.key + '.description')"
        v-for="skill in skills"
        v-bind:key="skill.key"
      ></SkillTile>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import SkillTile from '@/components/resume/skills/SkillTile.vue'

export default defineComponent({
  name: 'ResumeContent',
  components: { SkillTile },
  data() {
    return {
      skills: [
        {
          key: 'web',
          icon: 'globe'
        },
        {
          key: 'software',
          icon: 'desktop'
        },
        {
          key: 'system',
          icon: 'server'
        },
        {
          key: 'devops',
          icon: 'cloud-upload-alt'
        }
      ]
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/colors.scss';
@import '~bootstrap/scss/bootstrap';

.resume {
  background-color: $light-bg;

  #resume-title {
    color: $light-font;
    font-size: 3rem;
  }
}
</style>
