<template>
  <a :href="link" target="_blank">
    <font-awesome-icon :icon="'fa-brands ' + icon" :style="iconStyle"/>
  </a>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  name: "SocialIcon",
  props: {
    icon: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: true
    }
  },
  computed: {
    iconStyle() {
      return {
        '--color-hover': this.color
      }
    }
  }
})
</script>

<style lang="scss" scoped>
@import "@/assets/colors.scss";

a {
  font-size: 1.5rem;
  margin: 0 10px;
}

svg {
  color: $light-font;
  transition: color ease .2s;

  &:hover {
    color: var(--color-hover);
  }
}
</style>