<template>
  <div id="main_wrapper">
    <ResumeHeader></ResumeHeader>
    <AboutMe></AboutMe>
    <ResumeContent></ResumeContent>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import ResumeHeader from "@/components/resume/ResumeHeader.vue";
import AboutMe from "@/components/resume/AboutMe.vue";
import ResumeContent from "@/components/resume/ResumeContent.vue";

export default defineComponent({
  name: "ResumeView",
  components: {ResumeContent, AboutMe, ResumeHeader}
})
</script>

<style lang="scss" scoped>
#main_wrapper > * {
  padding: 20px 30px;
}
</style>